<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCL Auto Booker</title>
    <link rel="stylesheet" href="../static/signed_in.css">
</head>

<body>

    <nav class="navbar">
        <div class="navbar__container">

            <!-- UCL AutoBooker Logo -->
            <a href="signed_in.html" id="navbar__logo">UCL AutoBooker</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <!-- Navbar options -->
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="signed_in.html" class="navbar__links"> Home </a>
                </li>
                <li class="navbar__item">
                    <a href="book_space.html" class="navbar__links"> Book Rooms </a>
                </li>
                <li class="navbar__item">
                    <a href="my_bookings.html" class="navbar__links"> My Bookings </a>
                </li>
                <!-- Welcome User Display-->
                <li class="navbar__btn">
                    <a href="signed_in.html" class="button"> Welcome Ayush K </a>
                </li>
            </ul>

        </div>
    </nav>

    <!-- Background Image -->
    <div class="banner">
    </div>

</body>


</html>



<!-- <a href="https://uclapi.com/oauth/authorise?client_id=3574900202627382.9436735244241114&state=ayush">
    <img src="https://s3.eu-west-2.amazonaws.com/uclapi-static/SignInWithUCLSmall.png" width="270" height="100">
</a> -->